# Prevents docker from copying useless information to the daemon
# Ingore basically all directories except for docs/, config/, jet_hadron/, and tests/
# We do intentionally include the git information
# Analysis input directory
trains/
# Analysis output directory
output/
# Python and pachage build inforamtino
**/__pycache__/
*.egg-info/
.pytest_cache/
# Virtualenvs
.jet_hadron/
.env/
.env3/
.py*/
# mypy
.mypy_cache/
# coverage
**/htmlcov/
# Other files
*.swp
