build/
output/
.ipynb_checkpoints/

# Ignore setup.py related folder
alice_jet_hadron_correlations.egg-info/

# Ignore pytests cache
.pytest_cache/

# Profiling
prof/

# Coverage
.coverage
htmlcov/

# Generated html files
*.html

# Virtual environments
.py*/
