---
configurationName: "EMCal Corrections configuration for Jet-H LHC15o central analysis"
sharedParameters:
    cellBranchName: "usedefault"
    clusterBranchName: "usedefault"
    trackBranchName: "usedefault"
inputObjects:
    cells:
        defaultCells:
            branchName: "sharedParameters:cellBranchName"
    clusterContainers:
        defaultClusterContainer:
            branchName: "sharedParameters:clusterBranchName"
    trackContainers:
        defaultTrackContainer:
            branchName: "sharedParameters:trackBranchName"
CellEnergy:
    enabled: true
    createHistos: true
    enableRun2TempCalib: true
CellBadChannel:
    enabled: true
    createHistos: true
CellTimeCalib:
    enabled: true
    createHistos: true
Clusterizer:
    enabled: true
    createHistos: true
    cellE: 0.1
    seedE: 0.3
    # Apply time cuts on the cluster containers. This way we only apply the time cut to the leader cell.
ClusterExotics:
    enabled: true
    createHistos: true
ClusterNonLinearity:
    enabled: true
    createHistos: true
ClusterTrackMatcher:
    enabled: true
    createHistos: true
ClusterHadronicCorrection:
    enabled: true
    createHistos: true
